:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    /* padding: 0 25px; */
    /* max-width: 1200px; */
/* } */


header {
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    background-color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header .container .navbar-brand {
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

header .container .navbar{
    background-color: transparent!important;
}



@media (max-width: 992px) {
    header {
        height: 90px;
        display: grid;
        align-items: center;
        box-shadow: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        background-color: white;
    }
    header .container {
        width: 100%;
    }
    header .container .navbar{
        background-color: white !important;
        width: 100%;
        /* padding: 0; */

    }

    header .container .navbar .navbar-collapse{
        background-color: white !important;
    }
}  

header .container .navbar-nav .nav-item{
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

header .container .navbar-nav .nav-item .nav-link{
    text-transform: capitalize;
    transition: all 0.5s ease;
    /* padding: 14px 0; */
    text-align: center;
    justify-content: center;
    line-height: 14px;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}

header .container .navbar-nav .nav-item .nav-link.active{
    color: var(--primary);
}
header .container .navbar-nav .nav-item .nav-link:before{
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}


header .container .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
    /* border-bottom: 1px solid  var(--primary); */
}
header .container .navbar-nav .nav-item .nav-link:hover::before{
    width: 20px;
} 

header .container .navbar .theme-button{
    color: #dc4f72;
    border-color: #dc4f72;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;

}

header .container .navbar .theme-button:hover{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}   


header .dropdown-menu.show {
    display: block;
}

header .dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

header .dropdown-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    transition: all 0.4s linear 0s;
}

header .dropdown-item:hover:after {
    width: 15%;
}

header .dropdown-item:hover {
    color: #dc4f72;
}

header .dropdown-menu {
    border-radius: 6px;
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: -45px !important;
}

.dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

header .dropdown-toggle::after {
    display: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}


.carousel {
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../Images/banner.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5rem;

}

.carousel .container .main_img{
    transform: rotate(180deg );
}

.carousel .main-content h1{
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700;

}

.carousel .main-content p{
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.carousel .main-content .theme-button{
    color: #dc4f72;
    border-color: #dc4f72;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.carousel .container .row{
    align-items: center;
}

.carousel .main-content .theme-button:hover{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.subtitle{
    color: var(--primary);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.headertitle{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.description_text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}


.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.services{
    padding: 3rem 0;
}
.services .services_header{
    text-align: center;
    padding: 3rem;
}

.services .services_content{
    text-align: center;
}
.services .service_block{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
}

.services .service_block img{
    max-width: 100%;
    height: auto;
}

.services .service_block h1{
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    margin: 1rem 0;
}
.services .service_block p{
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.about{
    padding: 3rem 0;
    background-color: var(--light-bg-color);
}

.about .about_header .about_header_left{
    padding-left: 15px;
    padding-right: 4rem;
}
.about .about_header .about_header_left p{
    margin-bottom: 5px;
}

.about .about_header .about_header_left h1{
    margin-bottom: 1.5rem;
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}
.about .about_header .about_header_left .description_text{
    margin-bottom: 3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}
.about .about_header .about_header_left .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.about .about_header .about_header_left .theme-button:hover{
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
.about .about_header .about_header_right{
    padding-left: 3rem;
    padding-right: 15px;

}
.about .about_header .about_header_right .img-about{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}
.about .about_header .about_header_right .img-about:hover{
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.about .about_statictis{
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}

.about .about_statictis .statictis_item{
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.about .about_statictis .statictis_item:hover{
    box-shadow: var(--card-hover-box-shadow);
}

.about .about_statictis .statictis_item h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}
.about .about_statictis .statictis_item h1 {
font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.about .about_statictis .statictis_item p{
    color: var(--text-color);
}

.intro{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../Images/bg.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.intro .intro-content h1{
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.intro .intro-content p{
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
    margin: 3rem 0;
}
.intro .intro-content .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    /* background-color: #f8f9fa!important;
    border-color: #f8f9fa!important; */
}
.intro .intro-content .theme-button:hover{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.qna{
    padding: 3rem 0;
    background-color: var(--light-bg-color);

}

.qna .qna_header{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.qna .qna_header h3{

    margin-bottom: 5px;
}
.qna .qna_header p{
    margin: 1rem 0;
}

.qna .qna_content .faq-image {
    position: sticky;
    top: 80px;
}
.qna .qna_content .faq-image img{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}



.qna .qna_content .faq-image img:hover{
    transform: var(--transformY);
    transition: 0.3s ease-in-out;

}

.qna .qna_content .faq-page li{
    list-style: none;
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: #fff;
} 
.qna .qna_content .faq-page input{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

.qna .qna_content .faq-page h2{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}
.qna .qna_content .faq-page p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transform: translate(0, 50%);
    max-height: 0;
    margin: 0px 0px;
    transition: all 1s;
}

.qna .qna_content .faq-page p.show{
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
}


.qna .qna_content .faq-page i{
    position: absolute;
    transform: translate(-6px, 0); 
    margin-top: 16px;
    right: 25px;
    top: 16px;
    transition: all 0.5s;
}
.qna .qna_content .faq-page i:before{
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
    transform: translate(-2px, 0) rotate(45deg)
}
.qna .qna_content .faq-page i:after{
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
    transform: translate(2px, 0) rotate(-45deg);
}

.featured_cases .featured_cases_title{
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}

.featured_cases .featured_body li button{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #eee;
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    color: #4E5B61;
    border-radius: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white!important;
    color: var(--primary)!important;
    border-bottom: 3px solid var(--primary);
}
.featured_cases .featured_body li{
    padding: 0px;
    border-radius: none!important;
}

.featured_cases .featured_body .tab-content {
    margin: 20px 0;
    padding: 15px;
}

.featured_cases .featured_body .tab-content .left-tab h1{
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.featured_cases .featured_body .tab-content .left-tab p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}
.featured_cases .featured_body .tab-content .left-tab .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #dc4f72;
    border-color: #dc4f72;
}
.featured_cases .featured_body .tab-content .left-tab .theme-button:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.featured_cases .featured_body .tab-content .left-tab img{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
    width: 100%;
}

.featured_cases .featured_body .tab-content .left-tab img:hover{
    transform: var(--transformY);
}

.featured_cases .featured_body .tab-content .right-tab img{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
    width: 100%;
    /* height: auto; */

}

.featured_cases .featured_body .tab-content .right-tab img:hover{
    transform: var(--transformY);
    /* height: auto; */
}

.featured_cases .featured_body .tab-content .right-tab h1{
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.featured_cases .featured_body .tab-content .right-tab p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}
.featured_cases .featured_body .tab-content .right-tab .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #dc4f72;
    border-color: #dc4f72;
}

.featured_cases .featured_body .tab-content .right-tab .theme-button:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.contact{
    padding: 3rem 0;
}

.contact .contact_content {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;

}

.contact .contact_content h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}


.contact .contact_content p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.contact .contact_content .buttons .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #dc4f72;
    border-color: #dc4f72;
}
.contact .contact_content .buttons .theme-button.btn-primary {
    background-color: #dc4f72;
    color: #fff;
}
.contact .contact_content .buttons .theme-button.btn-primary:hover{
    color: #dc4f72;
    background-color: #fff;
} 

.contact .contact_content .buttons .theme-button.btn-outline-primary:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.testimonials{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../Images/b2.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.testimonials .testimonials_title{
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}

.testimonials .testimonials_body .owl-carousel .slider-info{
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: var(--card-curve);
}
.testimonials .testimonials_body .owl-carousel .slider-info .img-circle{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid var(--primary);
}
.testimonials .testimonials_body .owl-carousel .slider-info .img-circle img{
    width: 100%;
    min-height: 100%;
    vertical-align: middle;
    border-style: none;
}


.testimonials .testimonials_body .owl-carousel .message{
    position: relative;
}

.testimonials .testimonials_body .owl-carousel .message span{
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}
.testimonials .testimonials_body .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}
.testimonials .testimonials_body .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary);
}
.testimonials .testimonials_body .owl-theme .owl-dots .owl-dot span:hover{
    background: var(--primary);
}

.testimonials .testimonials_body .owl-carousel .message p{
    font-size: 18px;
    line-height: 26px;
    color: var(--title-color);
}
.testimonials .testimonials_body .owl-carousel .message .name h4{
    font-size: 18px;
    color: var(--primary);
    font-weight: 400;
}
.testimonials .testimonials_body .owl-carousel .message .name p{
    font-size: 13px;
    color: var(--text-color);
}

.footer{
    background: var(--light-bg-color);
}

.footer h3{
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}
.footer .col-md-4 li{
    display: block;
    list-style: none;
    margin: 10px 0;
}
.footer .col-md-4 ul{
    padding: 0;
    margin: 0;
}

.footer .col-md-4 li a{
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.footer .end-column{
    background-color: #fff;
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.footer .end-column h4{
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}

.footer .end-column form{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.footer .end-column form input{
    background: var(--light-bg-color);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: var(--title-color);
    font-weight: 600;
    border-radius: var(--card-curve);
}

.footer .end-column form button{
    text-align: center;
    background: var(--primary);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: var(--card-curve);
}

.footer .end-column p{
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.footer .below-section{
    border-top: 1px solid #eaeaea;

}

.footer .emailAddress{
    padding: 0 3rem !important;
}
.footer .below-section .social li{
    display: inline-block;
    margin-right: 5px;

}
.footer .below-section .social li a{
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.about_us .header-section{
    max-width: 750px;
    margin: 0 auto;
}

.about_us .container .header_section h2{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}

.about_us .container .about_text h3{
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}
.about_us .container .about_text p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin: 15px 0 35px 0;
}
.about_us .container .about_text li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
    list-style: none;
}
.about_us .container .about_text li i{
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.about_us .container .about_image{
    padding-left: 3rem !important;
    

}
.about_us .container .about_image img{
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    
}

.about_us .container .about_image img:hover{
    transform: var(--transformY);
    
    
}

@media(min-width: 1400px){
    .container{
        max-width: 1200px;
    }
}

.about_2 .icon-info h5{
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;

}

.about_2 .icon-info p{
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 16px;
}

.about_features{
    background-color: var(--light-bg-color);
}

.about_features .container .header_section .sub_title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about_features .container .header_section{
    max-width: 750px;
}
.about_features .container .header_section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.about_features .container .header_section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
   
}

.about_features .container .features_items .elite-services{
    background: #fff;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.about_features .container .features_items .elite-services .bott-img{
    width: 100%;
    height: 250px;
    margin: 0px 0;
    text-align: center;
    transition: all 0.3s ease;
   
}

.about_features .container .features_items .elite-services .bott-img .icon-holder{
    position: relative;
    top: 60px;
    display: inline-block;
    margin-bottom: 68px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    background-color: var(--primary);

}

.about_features .container .features_items .elite-services .bott-img .mission{
    position: relative;
    top: 10px;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--title-color);
}

.about_features .container .features_items .elite-services .bott-img .description{
    margin: -6em auto 0;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
}

.about_features .container .features_items .elite-services .bott-img .description p{
    color: var(--title-color);
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_features .container .features_items .elite-services .bott-img  .description a
{
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
}

.about_features .container .features_items .elite-services .bott-img:hover{
    padding: 0 30px;
}
.about_features .container .features_items .elite-services .bott-img:hover .icon-holder{
    top: -40px;
    background: var(--primary);
}
.about_features .container .features_items .elite-services .bott-img:hover .mission{
    top: -80px;
}
.about_features .container .features_items .elite-services .bott-img:hover .description{
    opacity: 1;
    transform: scale(1);
    font-size: 14px;
    line-height: 2.2em;
}

.about_solution .middle_section .header_section .sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about_solution .middle_section .header_section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.about_solution .middle_section .header_section{
    max-width: 750px;
}

.about_solution .middle_section .header_section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
   
}

.about_solution .history_info{
    max-width: 700px;
    margin: 0 auto;
}

.about_solution .history_info .position_relative{
    position: relative !important;
}
.about_solution .history_info .position_relative img{
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}

.about_solution .history_info .position_relative img:hover{
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.about_solution .history_info .position_relative .play-view{
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

.about_solution .history_info .position_relative .play-view .video-play-icon{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}
.about_solution .history_info .position_relative .play-view .video-play-icon:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.about_solution .history_info .position_relative .play-view .video-play-icon span.fa-play{
    line-height: 55px;
    
}
.about_solution .history_info .position_relative .play-view .video-play-icon .fa-play::before{
    content: "\f04b";
    color: var(--primary) !important;
}
.about_solution  .request-quote .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgb(225 105 135 / 50%);
}

.about_solution .modal-dialog .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.about_solution .modal-dialog .modal-title{
    color: var(--title-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.5;
    
} 
.about_solution .modal-dialog .modal-header .close {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
}

.about_solution .modal-dialog .demo-request .form-group input{
    padding: 15px 20px;
    border-radius: 0;
    color: #000;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    border-radius: var(--card-curve);
    border: 1px solid #eee;
    background: var(--light-bg-color);
    height: 55px;
}

.about_services .item img{
    filter: grayscale(1);
    transition: 0.3s ease;
    padding: 1.5rem 2rem;
}
.about_services .item img:hover{
    filter: grayscale(0);
}

.about_team{
    background: var(--light-bg-color);
}
.about_team .header-section{
    max-width: 750px;
}


.about_team .header-section .sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about_team .header-section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.about_team .header-section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
   
}

.about_team .team-info{
    transition: 0.3s ease-in-out;
    border-radius: 6px 6px 0 0;
}
.about_team .team-info:hover{
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}


.about_team .team-info .img-circle{
    width: 100%;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
}
.about_team .team-info .column-btm{
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    border-top: none;
    margin-top: -6px;
}
.about_team .team-info .name-pos a{
    background-color: transparent;
    text-decoration: none;
    font-size: 22px;
    line-height: 26px;
    color: var(--title-color);
    font-weight: 700;
}
.about_team .team-info .img-circle a img{
    border-radius: 6px 6px 0 0;

}
.about_team .team-info .social a{
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;

}
.about_team .team-info .social span{
    color: #fff
}
.about_team .team-info .social .facebook{
    background: #3b5998;
}
.about_team .team-info .social .twitter{
    background: #1da1f2;
}

.breadcrumbs {
    padding: 15px 20px;
    background: var(--light-bg-color);
    font-size: 14px;
}

.breadcrumbs a {
    color: var(--primary);
    margin: 0 5px 0 0;
    font-size: 14px;
    text-decoration: none;
}
.breadcrumbs a:hover{
    text-decoration: underline;

}

.our_services .header-section h2{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.our_services h3{
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 30px;
}
.our_services h5{
    font-size: 24px;
    line-height: 30px;
    color: #999;
}

.our_services a.theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
     color: #FFF;
    background-color:#dc4f72;
    border: none;
}
.our_services a.theme-button:hover{
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.our_services .features-with-17-left1{
    padding: 0 30px;

}
.our_services .features-with-17-left1 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--title-color);
    line-height: 24.5px;
}
.our_services .features-with-17-left1 h4 a{
    font-size: 20px;
    font-weight: 700;
    color: var(--title-color);
    line-height: 24.5px;

}
.our_services .features-with-17-left1 a.icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    box-shadow: var(--card-box-shadow);
}

.procduct{
    background: var(--light-bg-color); 
}

.procduct .header-section{
    max-width: 750px;
    margin: 0 auto;
}
.procduct .header-section .sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.procduct .header-section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.procduct .header-section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}
.procduct .mobile-info-inn .mobile-right .mobile-right-grids .mobile-right-grids{
    text-align: center;
}
.procduct .mobile-info-inn .mobile-right .mobile-right-grids .mobile-right-icon span {
    font-size: 20px;
    color: var(--primary);
    background: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 700;
    box-shadow: var(--card-hover-box-shadow);
}

.procduct .mobile-info-inn .mobile-right .mobile-right-grids .mobile-right-info h6 a{
    font-size: 18px;
    color: var(--title-color);
    margin-bottom: 5px;
    display: inline-block;
    transition: 0.3s ease-in;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
.procduct .mobile-info-inn .mobile-right .mobile-right-grids .mobile-right-info h6 a:hover{
    color: var(--primary);
}
.procduct .mobile-info-inn .mobile-right .mobile-right-grids .mobile-right-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 20.4px;
}



.feature-services .header-section{
    max-width: 750px;
    margin: 0 auto;
}
.feature-services .header-section .sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.feature-services .header-section h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.feature-services .header-section p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}
.feature-services .content-ab-left, .feature-services .content-ab-right {
    border: 1px solid #eee;
    padding: 2rem;
    border-radius: var(--card-curve);

}
.feature-services .title-content h3{
    color: var(--title-color);
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-services .content-ab-grids p {
    font-style: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-bottom: 16px;
}
.feature-services .content-ab-left .feature-list li{
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}
.feature-services .content-ab-left .feature-list li span{
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


.feature-services a.theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
     color: #FFF;
    background-color:#dc4f72;
    border: none;
}
.feature-services  a.theme-button:hover{
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.feature-services img{
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}
.feature-services img:hover{
    transform: var(--transformY);
}
.backToTop{
    width:50px;
    height:50px;
    background:#f55f8d;
    border-radius:8px;
    line-height:50px;
    text-align:center;
    display:block;
    position:fixed;
    right:15px;
    bottom:15px;
    color:#fff;
    transition:all .2s;
    box-shadow:-4px 4px 24px -10px #f55f8d;
    visibility:hidden;
    opacity:0
  }
  
  .cd-top--is-visible{
    visibility:visible;
    opacity:1
  }